@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #444444;
    font-size: 1em;
    background-color: #18191B;
    width: 100vw;
}
.typeWrittingColor{
    color: hsl(280,100%,70%);
}
